<div class="panel panel-white">
	<div class="panel-heading">
		<h6 class="panel-title">
			{{title}}
			<span class="text-highlight bg-primary" v-if="hasChanged && !isNew">
				{{message}}
			</span>
		</h6>
		<div class="heading-elements" v-if="resources && calculated">
			<div class="button-set pull-right">
				<u-button :ladda="{style:'zoom-in'}"
						  class="pull-right"
						  data-style="zoom-in"
						  color="primary"
						  @click="cancel"
						  v-if="canBeCanceled && !hasChanged"
				>
					Cancelar
				</u-button>

				<u-button :ladda="{style:'zoom-in'}"
						  class="pull-right mr-10"
						  data-style="zoom-in"
						  color="primary"
						  @click="reserve"
						  v-if="(!canBeCanceled && canMakeReservation) || hasChanged"
				>
					Reservar
				</u-button>
				<u-button :ladda="{style:'zoom-in'}"
						  class="pull-right mr-10"
						  data-style="zoom-in"
						  color="primary"
						  @click="reserveAndPay"
						  v-if="(!canBeCanceled && canMakeReservation) || (canPayWithCard && hasChanged)"
				>
					Reservar & pagar
				</u-button>
				<u-button :ladda="{style:'zoom-in'}"
						  class="pull-right mr-10"
						  data-style="zoom-in"
						  color="primary"
						  @click="pay"
						  v-if="canBeCanceled && canPayWithCard && !hasChanged"
				>
					Cobrar
				</u-button>

				<u-button :ladda="{style:'zoom-in'}"
						  class="pull-right mr-10"
						  data-style="zoom-in"
						  color="primary"
						  @click="markAsPaid"
						  v-if="canBeCanceled && !hasChanged"
				>
					Marcar como pagada
				</u-button>
			</div>

		</div>
	</div>
	<div class="panel-body" v-block="loading">

		<div class="row pb-20">
			<div class="col-sm-12">
				<label>Titulo</label>
				<input type="name" v-model="name" class="form-control">
				<form-error :errors="errors.type"></form-error>
			</div>
		</div>

		<div class="row pb-20">
			<div class="col-sm-12">
				<label>Descripción</label>
				<textarea class="form-control" v-model="description" id="" cols="30" rows="10"></textarea>
				<form-error :errors="errors.type"></form-error>
			</div>
		</div>

		<div class="row pb-20">
			<div class="col-sm-12">
				<label>Recurso</label>
				<form-error :errors="errors.bookable"></form-error>
			</div>
		</div>
	</div>
</div>
